body{
	width:100%;
	margin:0;
	font-family: "Monotype Corsiva";
	font-size: 1.5em;
	display:flex;
	flex-direction:row-reverse;
}

.close {
	display:none;
}

.wizard {
	background:url("images/owl.jpg");
	height:auto;
	background-size: cover;
}

.muggle {
	width:100%;
	height:auto;
	background:url("images/руины100.jpg");
	background-size: 100%;
	
}

.signIn {
	background-color:#b7a28ca3;
	width: 20%;
	margin-top:3%;
	margin-right: 3%;
	border-radius: 10px; 
}

#alohomora {
	height:22em;
	background-color: rgb(0, 0, 0, 0);
	border-color: rgb(0, 0, 0, 0);
	margin-top: 18%;
	margin-left: 50%;
	margin-right:35%;
	width:15%;
}

img{
	width: 97%;
}

input {
	border: 1px solid #d1d5da;
}

.profile-data, #login, #password, button {
	width:95%;
	margin: 2%;
	min-height: 7%;
    padding: 1%;
    font-size: 1.5em;
    border-radius: 10px;
    box-sizing: border-box;
}

.position {
	width:100%;
	margin:5%;
	margin-top:0;
}
.position label {
	font-size: 1.3em;
	width:45%;
	margin-right:5%;
}

#error {
	color: red;
	font-size:inherit;
	margin:0;
	text-align: center;
}

.signIn button {
	font-family: inherit;
	font-weight:bold;
	font-size:1.9em;
	background-color:#a8947fd9;
	box-shadow: 0 0 7px 0 #796c59;
	border: 1px solid #cab392c4;
}
.signIn button:hover{
	box-shadow: 0 0 7px 0 #665b4a;
	background-color:#9a8875d9;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.signIn {
  		width:70%;
  		margin-top: 10%;
  		margin-left:14%;
  		margin-right:14%;
  		
  	}
  }