h3 {
	width: 100%;
	text-align: center;
	font-size:2.3em;
	margin:0;
	margin-top: 1%;
}


.taskList {
	width:100%;
	font-size:2em;
}

.taskList>a:hover {
	font-weight: bold;
}

table {
	width: 100%;
}

#tasks {
	width:50%;
}

.comp-date {
	font-weight:bold;
	width:10%;
}

.task {
	width:60%;
}

.button {
	width: 8%;
	text-align:center;
	border-radius:10px;
	background-color: #7e532e;
}

td a {
	width: 100%;
}
.button:hover {
	background-color: #774e2b;
	font-width: bold;
}

.taskList a {
	font-family: "Pristina";
	font-size:1.1em;
}

