li a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	font-family: "Monotype Corsiva";
	font-size:1.9em;
}

a:visited {
	color:inherit;
}

#yourCourses{
	width:100%;
	font-weight: bold;

}

#yourCourses li {
	margin:1%;
	width:100%;
}

#yourCourses li:hover{
	font-weight:bold;
	text-shadow: 2px 2px 2px #824f35;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	
}