#main-page{
	display: flex;
}

h1{
	font-size:4em;
	width:90%;
	margin-right:5%;
	margin-left:5%;
	margin-bottom:2%;
	
}

form {
	width:100%;
	display:flex;
	font-family: "Pristina";
}

form h2 {
	font-size: 3em;
	width:49%;
	margin:0;
	text-align:center;
	cursor: pointer;
}

form h2:hover {
	border-radius:10px;
	background-color: #3333334f;
}

.toggleH2 {
	text-decoration:underline;
}

table {
	width:70%;
	border-collapse: collapse;
	font-size: 1.4em;
}
table, th,td {
	border: 3px solid #0000005e;
	padding: 1em;
}

tbody {
	width:100%;
}

td {
	width: 20%;
}

.house2, .house1 {
	background-color: #0000005c;	
}
.hatching {
	background: linear-gradient(45deg, #e5e5e500 49.9%, #000 49.9%, #000 60%, #e5e5e500 60% ), linear-gradient(45deg, #000 10%, #e5e5e500 10% );
    background-size: 0.5em 0.5em;
}



.houses {
	width:45%;
}

.houses h3 {
	font-size:2.5em;
	margin:1%;
}

.TheHouseCup {
	display:flex;
	flex-wrap:wrap;
	padding:2%;
	justify-content: space-between;
	width:100%;
}

#TheHouseCupRating {
	width:45%;
	margin-bottom: 2%;
}

.flags {
	width: 50%;
	margin-right:40%;
	margin-bottom:2%;
}

.flags a img{
	width:22%;
}

#canvas, #changesList {
	width:100%;
	margin:1%;
	border-radius: 10px;
	background-color: #fff;
}

#TheHouseCupChanges {
	width:45%;

}

#changesList {
	height: auto;
	padding-top, padding-bottom: 2%;
}

#TheHouseCupChanges li {
	font-size: 1.7em;
	width:95%;
}

.points {
	font-weight:bold;
}

.close {
	display:none;
}