body {
	background-image: url("https://prettygoodpost.org/sites/default/files/inline-images/794458.jpg");
	background-size: cover;
}
#main-page {
	color: #160706;
	background-color: #e8cfa0;
	border: 30px solid #e8cfa0;
}

h1, h2{
	font-family: "Monotype Corsiva";
	font-size: 3em;
}

p {
	font-size: 2.5em;
	width:100%;
	text-align:center;
	margin-bottom:0;
}

ul{
	margin-top:0;
}

#students-list {
	font-size:2.5em;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #5e4a32;
}
a:link {
	color: #160706;
}
